hw5/hw5.dtd

<!ELEMENT Products (Prod+)>

<!ELEMENT Prod (Details, Quantity, Unit_Price, Color*, Loc)>
<!ATTLIST Prod ProdID ID #REQUIRED>

<!ELEMENT Details (Short_Desc, Long_Desc)>

<!ELEMENT Short_Desc    (#PCDATA)>
<!ELEMENT Long_Desc     (#PCDATA)>
<!ELEMENT Quantity      (#PCDATA)>
<!ELEMENT Unit_Price    (#PCDATA)>
<!ELEMENT Color         (#PCDATA)>
<!ELEMENT Loc           (#PCDATA)>

<!ENTITY usa "Made in USA">